#course-content {
    width: 792px;
    text-align: center;
    margin: auto;
}

#course-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #33A8DB;
    margin: 118px 0 24px 0 ;
    letter-spacing: 0.19em;
}

#course-content p {
    font-size: 1.3rem;
}

.module {
    width: 535px;
    margin: 24px auto;
    background-color: #252525;
    padding: 16px 0;
    border-radius: 57px;
    border: solid 1px var(--text-terc);
    font-size: 1.3rem;
}

.module span {
    color: #33A8DB;
}

#transform-world {
    height: 363px;
    background-image: url("../images/woman-code.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: solid 1px var(--text-terc);
    border-bottom: solid 1px var(--text-terc);
}

#transform-world p {
    font-weight: 900;
    font-size: 3.25rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
    padding: 123px;
}

#professional-challenges {
    text-align: center;
    margin: 76px auto 91px auto;
}

#professional-challenges h2 {
    width: 746px;
    font-size: 2.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #33A8DB;
    margin: 0 auto 32px auto;
    letter-spacing: 0.19em;
}

#professional-challenges p {
    width: 792px;
    font-size: 1.3rem;
    margin: 40px auto 0 auto;
}