@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');
@import url('./header.css');
@import url('./main.css');

:root {
    --text-gradient: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    --text-sec: #FFFFFF;
    --text-terc: #31A8DD;
    --font-type: 'Raleway', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: black;
    font-family: var(--font-type);
    color: var(--text-sec);
}